<%- include('header') %>
<div class="home-body">
  <main class="px-5" style="margin-top:50px">
    <h1 style="font-weight: bold">Race Against Time</h1>
    <p class="lead" style="color: red">
      Vroom is a single window platform to connect truck drivers and hirers. It increases the profits and decreaes the
      expenses of both driver and hirer. Book your truck today or get hired easily!
    </p>
    <p class="lead">
    </p>
  </main>

  <div class="px-5 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/about1.jpg" alt="" width="400" height="200" />
    <h3 class="display-5 fw-bold">Solutions for Hirers</h3>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">
        We provide round the clock solutions for hirers requiring trucks in the market to transport their goods at affordable
        price within limited time. We are big competitors to traders
        who cheat clients by charging them at exorbitant rates.
      </p>
      
    </div>
  </div>
  <hr class="home-divider">
  <div class="px-5 py-5 my-5 text-center">
    <h3 class="display-5 fw-bold">Solutions for Drivers</h3>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">
        We provide drivers solutions to increase the amount they earn while making only short trips. Because of load pooling, they can carry multiple loads for a short distance 
        and earn upto twice as much. Their fuel and other costs will also decrease.
      </p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="container px-5">
        <img src="images/about2.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="400"
          height="400" loading="lazy" />
      </div>
    </div>
  </div>
</div>

</div>

<%- include('footer') %>