<%- include('header') %>
<div class="home-body">
  <main class="px-3" style="margin-top:50px">
    <h1 style="font-weight: bold">Race Against Time</h1>
    <p class="lead" style="color: red">
      Vroom is a single window platform to connect truck drivers and hirers. It increases the profits and decreaes the
      expenses of both driver and hirer. Book your truck today or get hired easily!
    </p>
    <p class="lead">
    </p>
  </main>

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/contact1.jpg" alt="" width="400" height="300" />
    <h3 class="display-5 fw-bold">Head Office</h3>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">
        No.245, Anna Nagar Main Road,
        Chennai South, Chennai,
        Tamil Nadu-600032
        Phone: 9841114252
      </p>

    </div>
  </div>
  <hr class="home-divider">
  <div class="px-4 pt-5 my-5 text-center">
    <h3 class="display-5 fw-bold">Branch Office</h3>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">
        No.246, Royapettah Main Road,
        Chennai South, Chennai,
        Tamil Nadu-600032
        Phone: 9841114253
      </p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="container px-5">
        <img src="images/contact2.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="400"
          height="400" loading="lazy" />
      </div>
    </div>
  </div>
</div>

</div>

<%- include('footer') %>