<%- include('header') %>

<div id="request">
    <table id="triprequest" name="triprequest">

    </table>
</div>

<div id="upcoming">
    <table name="upcomingtrips">
        <tr>
            <th>Start address</th>
            <th>Destination address</th>
            <th>Load details</th>
        </tr>
    </table>

</div>
</div>

<% include('footer') %>