<%- include('header') %>
<div class="home-body">
  <main class="px-3" style="margin-top:50px">
    <h1 style="font-weight: bold">Race Against Time</h1>
    <p class="lead" style="color: red">
      Vroom is a single window platform to connect truck drivers and hirers. It increases the profits and decreaes the
      expenses of both driver and hirer. Book your truck today or get hired easily!
    </p>
    <p class="lead">
      <a href="/about" class="btn btn-lg btn-secondary fw-bold">Learn more</a>
    </p>
  </main>

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/hirer.jpg" alt="" width="400" height="400" />
    <h1 class="display-4 fw-bold">HIRER</h1>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">
        Tired of paying a truckload of money to hire a goods truck? Don't
        have a reliable means of transporting your hard-earned produce? Wish
        to hire a truck from your doorstep? Click below to solve your
        problems!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-secondary btn-lg px-4 me-sm-3" href="/register-hirer">
          Hire a Truck!
        </a>
      </div>
    </div>
  </div>
  <hr class="home-divider">
  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">DRIVER</h1>
    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">
        No steady flow of income for your truck? Wasting money and fuel on
        your half filled trucks? Click below to solve your problems!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="btn btn-secondary btn-lg px-4 me-sm-3" href="/register-driver">
          Get Hired!
        </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="container px-5">
        <img src="images/driver.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="400"
          height="400" loading="lazy" />
      </div>
    </div>
  </div>
</div>

</div>

<%- include('footer') %>